<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пост {{ data.title|lower }}</title>
</head>
<style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }
</style>
<body>

<h1 align="center">{{ data.title }}</h1>
<p><b>Пост номер:</b> {{ data.id }}</p>

<p><b>Дата создания поста</b> {{ data.created_at }}</p>
{% if data.updated_at %}
<p><b> Дата обновления поста:</b> {{ data.updated_at }}</p>
{% else %}
<p><b> Дата обновления поста: </b>не обновлялся</p>
{% endif %}

<p><b> Дата обновления поста: </b> {{ data.updated_at|default:"не обновлялся" }}</p>
<br>
<hr>
<p> <b>Текст поста:</b> {{ data.content }}</p>
<hr>
<b><a href="http://127.0.0.1:8000/posts/">К постам</a></b>

</body>
</html>